.blankPage{
  display: flex;
  font-size: 58px;
  padding: 130px 120px 130px 120px;
  justify-content: space-between;
  background-color: #fffef2;
}
.blankPage img{
  width: 600px;
}
.blankPage p{
  transform:skewY(-1.5deg);
}