.background{
  width: 35%;
 
  background: rgb(197, 197, 197);
  height: 65vh;
  border-radius: 0px 0px 5000px 0px;
}

.background-top{
  width: 88%;
  background: rgb(240, 240, 240);
  height: 63vh;
  border-radius: 0px 0px 5000px 0px;
}